<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900">
        <div class="text-white p-10">
            <a class="text-blue-500 text-xl" href="/">Go Home</a>
            <h1 class="my-5 text-3xl">All users</h1>
            <div class="users flex flex-wrap   gap-3">

                <% if(users.length > 0){%>

              <% users.forEach((user)=>{ %>
                        <div class="user p-3 py-4 bg-zinc-800 rounded-md w-[200px] flex flex-col   ">
                            <div class=" w-full h-[160px]  bg-zinc-500  ">
                                <img class="w-full h-full bg-center rounded-md" src= <%= user.image %> alt="">
                            </div>
                            <div class="flex  flex-col mt-5">
                                <h1>  <%= user.name %></h1>
                            <h1> <%= user.email %></h1>
                            </div>
                            <div class="mt-2 flex justify-between">
                                <a class="text-blue-500" href="/edit/<%= user._id %>">Edit user</a>
                                <a class="text-red-500" href="/delete/<%= user._id %>">Delete user</a>
                                
                            </div>
                        </div>

              <%    }) %>
               
                <% }else{  %>


                    <h3>No users yet ....</h3>
                <% }%>


                  
            </div>
        </div>
    </div>
</body>
</html>